/* imports */

/* import item */
@import '../repeat/product_section/item.css';

/* import loader */
@import '../repeat/loader/loader.css';

/* import loader */
@import '../repeat/loader/loader.css';

/* sectionHeader */

section .sectionHeader h1,
section .sectionHeader p {
    color: #fff;
}

section .sectionImgText {
    background: #000000CC;
}

section .sectionHeader p {
    font-weight: 300;
}